--index-url https://pypi.python.org/simple/

-e https://github.com/ejhumphrey/claudio.git
-e https://github.com/ejhumphrey/biggie.git
-e https://github.com/ejhumphrey/optimus.git
-e https://github.com/marl/jams.git==1.0.0
-e https://github.com/bmcfee/pescador.git

-e .
