--index-url https://pypi.python.org/simple/

-e https://github.com/ejhumphrey/claudio.git
-e https://github.com/ejhumphrey/biggie.git
-e https://github.com/ejhumphrey/optimus.git
-e https://github.com/marl/jams.git==0.1 # This isn't going to work.
-e https://github.com/bmcfee/pescador.git

-e .
